# Sample gitconfig
#

[user]
    name = AUTHORNAME
    email = AUTHOREMAIL

[credential]
    helper = GIT_CREDENTIAL_HELPER

# [github]
#     user =
#     token =

[include]
    path = ~/.dotfiles/git/shared_gitconfig
